@import "../../config/_variables";

.footer {
  color: $gray;
  text-align: center;
  .copyrights {
    letter-spacing: $copyrights-spacing;
    width: $full-width;
    span {
      margin-right: 3px;
    }
  }
  .address {
  }
  .phonefax {
  }
  .corpid {
  }
  .representer {
  }
  .email {
  }
  .copyright {
  }
}
