@import "../../config/_variables";

.footer {
  color: $easys-it-color;
  .copyrights {
    width: 50%;
  }
  .address {
  }
  .phonefax {
  }
  .corpid {
  }
  .representer {
  }
  .email {
  }
  .copyright {
  }
  .span {
    color: $gray;
  }
}
